
<main>
    <div class="content">
      <img style="z-index: -1; width: 100vw; height: 100vh; position: absolute; top: 0; text-align: center; background-image:url('https://staticfiles.warthunder.com/upload/image/0_Wallpaper_Renders/Ground_Forces/2560x1440_strv_122b_plus_logo_f74ab6d3795355d60e2c375cbea049be.jpg');background-repeat: no-repeat;background-size: cover;background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;">
      <app-player-management></app-player-management>
    </div>
</main>


<router-outlet/>
